/* importo fuentes de google */
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Press+Start+2P&display=swap');


/* css reset */
* {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive, 'Castoro Titling', cursive;
    box-sizing: border-box;
}

/* personalizo la barra lateral */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #282828; 
}
::-webkit-scrollbar-thumb {
    background: #008F11; 
}
::-webkit-scrollbar-thumb:hover {
    background: #2eff47; 
}

/* estilos de mi página web */

#grid {
    display: grid;
    grid-template-areas:
        "header nav"
        "main main"
        "footer footer";
    grid-template-rows: 80px 1fr 60px;
    grid-template-columns: 40% 60%;
}
header {
    grid-area: header;
}
footer {
    grid-area: footer;
}
main#main {
    grid-area: main;     
}
nav {
    grid-area: nav;
}

body {
    background-color: black;
    color: #008F11;
}

.fotoPerfil {
width: 650px;
margin-bottom: 30px;
}

nav ul {
    list-style:none;
    display:inline-flex;
}

nav, header {
    height: 112px;
    left: 0px;
    top: 0px;
    padding-left: 10px;
    background-color: #2F1B26;
    display:inline-flex;
    box-sizing: border-box;
    align-items: center;
}
/* nav ul li.first {
    margin-left: 180px;
} */

nav ul li {
    margin-left: 55px;
}

nav a {
    font-size: 18px;
    color: #008F11;
    text-decoration: none;
}

header {
    font-size: 20px;
    margin-left: 10px;
}

.subtitulo {
    color: #00FF41;
    font-size: 16px;
    margin-top: 10px;
}

/* .mainContainer {
    text-align: center;
} */

.mainContainer.contacto {
    text-align: left;
    background-image: url(../img/fondoContacto.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

.formulario {
    text-align: left;
    padding-left: 300px;
}

.formulario .mail {
    text-align: center;
    width: 600px;
    box-sizing: border-box;
    /* border: 2px solid white; */
    /* padding: 10px 0px; */
}

.mail p {
    padding-bottom: 20px;
}

div.textoPrincipal div {
    display: inline-flex;
    /* margin-top: 20px; */
}

.numerosDeLinea {
    width: 40px;
    text-align: right;
    color: #00FF41;
    margin-right: 15px;
}

p.parrafoIzquierdo {
    text-align: left;
    width: 550px;
}

p.parrafoDerecho {
    text-align: left;
    width: 550px;
}

.footerContainer {
    padding: 10px 0px;
    text-align: center;
    background-color: #1d0d16;
    margin-top: 20px;
}

.pageUrl {
    text-align: left;
    margin: 40px 110px;
}

.pageUrl a {
    color: #008F11;
}

fieldset {
    background-color: black;
    height:350px;
    width: 440px;
    padding: 30px;
    font-family: 'Press Start 2P';
    color: #008F11;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 75px;
    margin-bottom: 10px;
}

fieldset div {
    display: flex;
    justify-content: space-between;

}
.botonEnviar{
    font-family: 'Press Start 2P';
    color: #008F11;
    background-color: rgb(245, 245, 245);
    padding: 15px;
    cursor: pointer;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;

}
.botonEnviar:hover {
    background: #005316;

}
.botonBorrar{
    font-family: 'Press Start 2P';
    color: #c40000d7;
    background-color: rgb(245, 245, 245);
    padding: 15px;
    cursor: pointer;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;

}
.botonBorrar:hover {
    background: #510000;

}
::placeholder {
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    color: rgba(0, 0, 0, 0.4);

}
.cajaTexto {
    width: 220px;
    padding: 10px;
}

@media (max-width: 1900px) {
    nav ul li.first {
        margin-left: 0px;
    }
    nav ul li {
        margin-left: 25px;
    }
    }

@media (max-width: 1580px) {
nav ul {
    list-style:none;
    display:block;
    text-align: right;
    position: absolute;
    right: 20px;
    top: 12px;
}
.formulario {
    text-align: left;
    padding-left: 30px;
}
#grid {
    grid-template-columns: 60% 40%;
}
}

@media (max-width: 750px) {
    nav ul a {
        font-size:10px;
    }
    .pageUrl {
        font-size: 10px;
        margin: 50px 40px;
    }
    header {
        font-size: 12px;
    }
    .subtitulo {
        font-size: 10px;
    }
}
