@charset "UTF-8";
/* importo fuentes de google */
@import url("https://fonts.googleapis.com/css2?family=Castoro&family=Libre+Barcode+39+Text&family=Press+Start+2P&family=VT323&display=swap");
/* defino variables SASS para los colores */
/* Colores del header y footer */
/* Color del texto oscuro */
/* Color del texto claro */
/* Color del fondo de la ventana */
/* Color del resto de la pantalla */
/* css reset */
* {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive, 'VT323', monospace, 'Castoro', serif;
  color: #008F11;
  box-sizing: border-box; }

/* personalizo la barra lateral */
::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background: #282828; }

::-webkit-scrollbar-thumb {
  background: #008F11; }

::-webkit-scrollbar-thumb:hover {
  background: #2eff47; }

/* estilos de mi página web */
body {
  background-color: #060606;
  position: relative;
  min-height: 100vh; }

p {
  margin-bottom: 0; }

.container-fluid {
  max-width: 1500px; }

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.custom-toggler.navbar-toggler {
  border-color: #008F11; }

.navbar {
  height: 100%; }

.nav-link {
  margin-left: 40px; }

.dropdown-menu {
  background-color: #1f1f1f; }

.nav-link, .navbar-nav .nav-link.show, .nav-link:focus, .dropdown-item {
  color: #008F11; }

.nav-link:hover, .nav-link.active, .nav-link:focus:hover {
  color: #2eff47; }

.fotoPerfil {
  transition: all 1.2s;
  transform: scale(1);
  width: 400px;
  margin-bottom: 30px; }

.fotoPerfil:hover {
  transition: all 0.2s;
  transform: scale(1.1);
  filter: brightness(1.15); }

.banderas {
  width: 50px;
  border: solid #060606 5px;
  border-radius: 50%; }

.banderas:hover {
  transition: all 0.2s;
  transform: scale(1.15);
  filter: brightness(1.15); }

header p {
  font-size: 20px;
  width: 300px;
  margin-left: 15px; }

.barraSuperior {
  background-color: #181818; }

.subtitulo {
  color: #2eff47;
  font-size: 16px; }

.mainContainer {
  text-align: center;
  background-color: #1f1f1f; }

.contenedorIframe {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 50px 50px;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */ }

.responsiveIframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%; }

.mainContainer.contacto {
  text-align: left;
  background-image: url(../img/fondoContacto.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.formulario {
  text-align: left; }

.formulario .mail {
  text-align: center;
  width: 600px;
  box-sizing: border-box; }

.mail p {
  padding-bottom: 20px; }

div.textoPrincipal div {
  display: inline-flex; }

.numerosDeLinea {
  width: 60px;
  text-align: right;
  color: #2eff47;
  padding-right: 25px; }

p.parrafoIzquierdo {
  text-align: left; }

p.parrafoDerecho {
  text-align: left; }

.footerContainer {
  text-align: center;
  background-color: #181818; }

.pageUrl {
  text-align: left;
  font-style: italic; }

fieldset {
  background-color: #181818;
  height: 380px;
  width: 440px;
  padding: 30px;
  font-family: 'Press Start 2P';
  color: #008F11;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 75px;
  margin-bottom: 10px; }

fieldset div {
  display: flex;
  justify-content: space-between; }

::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  color: rgba(0, 0, 0, 0.4); }

.cajaTexto {
  width: 220px;
  padding: 10px; }

/* Estilos para tarjeta de idiomas que gira en eje Y */
button {
  background-color: rgba(213, 43, 23, 0);
  height: 60px;
  margin-right: 10px;
  border: none; }

.container1 {
  padding: 20px;
  display: flex;
  justify-content: center; }

.card {
  height: 450px;
  width: 800px;
  position: relative;
  background-color: #1f1f1f;
  border: none; }

.cardFront,
.cardBack {
  /* height: 100%; */
  padding: 1rem;
  width: 100%;
  position: absolute;
  transition: transform 1.5s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #181818; }

.cardBack {
  transform: perspective(1000px) rotateY(180deg); }

.cardBack.flipped {
  transform: perspective(1000px) rotateY(0deg); }

.cardFront {
  transform: perspective(1000px) rotateY(0deg); }

.cardFront.flipped {
  transform: perspective(1000px) rotateY(-180deg); }

.hidden {
  display: none; }

.logos:hover {
  transition: all 0.2s;
  transform: scale(1.1);
  filter: brightness(1.15); }

.redes:hover {
  transition: all 0.2s;
  transform: scale(1.1);
  filter: brightness(1.15); }

/* Resaltado de los proyectos y aparición del título */
.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.wrapper {
  padding-right: 20px;
  max-width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.proy-1 {
  background-image: url(../img/proyecto1.png); }

.proy-2 {
  background-image: url(../img/proyecto2.png); }

.proy-3 {
  background-image: url(../img/proyecto3.png); }

.child {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }

.marco {
  width: 100%;
  margin: 10px;
  height: 400px;
  border: 2px solid #eee;
  overflow: hidden;
  position: relative;
  display: inline-block;
  cursor: pointer; }

.fondo {
  display: none;
  font-size: 35px;
  color: #ffffff !important;
  font-family: sans-serif;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 50px;
  cursor: pointer;
  text-decoration: none; }

.marco:hover .child,
.marco:focus .child {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2); }

.marco:hover .child:before,
.marco:focus .child:before {
  display: block; }

.marco:hover .fondo,
.marco:focus .fondo {
  display: block; }

.child:before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(52, 73, 94, 0.75); }

/* */
/* Comienzo de los media queries para ajustes específicos */
@media (max-width: 1300px) {
  body {
    padding-left: 40px;
    padding-right: 40px; }
  .fotoPerfil {
    width: 300px;
    margin: 15px 0; }
  .logos {
    width: 180px; } }

@media (max-width: 982px) {
  body {
    font-size: 12px; }
  .numerosDeLinea {
    display: none; }
  p.parrafoIzquierdo {
    width: 90%;
    padding-left: 15px; }
  p.parrafoDerecho {
    width: 90%;
    padding-left: 15px; }
  .logos {
    width: 150px; } }

@media (max-width: 670px) {
  body {
    font-size: 9px;
    padding-left: 20px;
    padding-right: 20px; }
  .dropdown-item {
    font-size: 9px; }
  header p {
    font-size: 18px;
    width: 250px; }
  .fotoPerfil {
    width: 280px;
    margin: 15px 0; }
  p.parrafoIzquierdo {
    padding-left: 15px; }
  p.parrafoDerecho {
    padding-left: 15px; }
  .mainContainer.contacto {
    text-align: left;
    background-image: url(../img/fondoContacto.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .formulario {
    padding-top: 15px; }
  .formulario .mail {
    width: 330px; }
  .formulario iframe {
    width: 330px;
    padding-bottom: 10px; }
  fieldset {
    width: 330px;
    padding: 10px;
    margin-left: 0; }
  .contenedorIframe {
    margin: 25px 5px; }
  .redes {
    width: 50px; }
  h3 {
    font-size: 14px; } }

@media (max-width: 440px) {
  body {
    padding: 0px; }
  p.parrafoIzquierdo {
    width: 100%;
    padding-left: 15px; }
  p.parrafoDerecho {
    width: 100%;
    padding-left: 15px; }
  .logos {
    width: 60px; }
  .redes {
    width: 40px; }
  h3 {
    font-size: 10px; } }
