* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(29, 29, 29);
}

.flex {
    display: flex;
}

.titulo {
    color: azure;
    font-size: 20px;
    text-align: left;
}

.fin {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: azure;
    font-size: 20px;
}

.lista {
    color: azure;
    font-size: 20px;
}

.centrado {
    align-items: center;
    font-size: 24px;
}

.imagen {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avion {
    width: 100px;
    filter: invert(100%);
}
