.CardItem {
    width: 200px;
    background-color: cadetblue;
    border-radius: 20px;
    text-align: center;
    padding: 20px 5px;
}

.Header {

}

.ItemHeader {

}

.ItemImg {
    width: 100%;
}

.Info {

}

.ItemFooter {

}

.Option {
    border-radius: 10px;
    background-color: aqua;
    font-weight: 600;
}