.item-count-container {
    text-align: center;
}

.counter-container {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter-button {
    cursor: pointer;
    background-color: #2ad100;
    color: #121212;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.counter-button:hover {
    background-color: #5fff8f;
}

.counter-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.counter-quantity {
    margin: 0 10px;
    font-size: 1.5rem;
}

.add-container {
    margin-top: 10px;
}

.add-button {
    padding: 10px;
    cursor: pointer;
    background-color: #52dd39;
    color: #000000;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.add-button:hover {
    background-color: #9eff97;
}

.add-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

